.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
}

.navbar-logo img {
  height: 40px;
}

.navbar-button button {
  background-color: #eea3be;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  padding: 0.9375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
