.sidebar {
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #262626;
  color: #fff;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 70px;
}

.toggle-button-container {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 2;
  background-color: #333;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.sidebar.collapsed {
  width: 70px;
}

.toggle-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #333;
  cursor: pointer;
}

.toggle-button i {
  font-size: 1.5rem;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #333;
}

.sidebar-icon {
  color: #ecf0f1;
  font-size: 1.25rem;
  margin-right: 15px;
}

.sidebar-text {
  margin-left: 10px;
  display: inline;
  transition: opacity 0.3s;
}

.sidebar.collapsed .sidebar-text {
  opacity: 0;
  margin-left: 0;
}

.sub-menu-icon {
  font-size: 1rem;
  margin-left: auto;
  transition: transform 0.3s;
}

.sidebar.collapsed .sub-menu-icon {
  transform: rotate(-90deg);
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%; /* Center the toggle horizontally */
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
  background-color: #555;
}
